.input{
    background: #E4E4E4;
    border-radius: 15px;
    width: 500px;
    height: 50px;
    border-color: #E4E4E4;
    
}
.inputI{
    background: #E4E4E4;
    border-radius: 15px;
    width: 700px;
    height: 50px;
    border-color: #E4E4E4;
    
}