.BottonCrearEmpleo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    font-family: Nunito, sans-serif;
    position: fixed;
    width: 515px;
    height: 54px;
    left: 390px;
    top: 905px;
    font-size: 32px;
    color: white;
    background: #14141E;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.BTNFotoEmpleo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito, sans-serif;
    position: fixed;
    width: 299px;
    height: 265px;
    left: 1425px;
    top: 300px;
    
    background: #14141E;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 0;
    font-size: 23px;
    color: white;
    cursor: pointer;
  }